<br/>
<h1>Nuevo Enfermo</h1>
<hr/>
<form method="post">
    <input type="text" placeholder="Apellido" name="apellido"/><br/>
    <input type="text" placeholder="Inscripcion" name="inscripcion"/><br/>
    <input type="text" placeholder="Direccion" name="direccion"/><br/>
    <input type="text" placeholder="NSS" name="nss"/><br/>
    <label>F.Nacimiento</label>
    <input type="date" name="fechanac"/><br/>
    <label>Sexo: </label><br/>
    <select name="genero">
        <option value="M">Maculino</option>
        <option value="F">Femenino</option>
    </select>
    <br/>
    <button type="submit" class="btn btn-success">Crear</button>
</form>