<h1>Api Crud Departamentos</h1>
<hr/>
<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Departamentos" asp-action="ApiClienteAjax">Api Crud Cliente Ajax</a></li>
    <li class="list-group-item"><a asp-controller="Departamentos" asp-action="ApiCrudServidor">Api Crud Servidor c#</a></li>
</ul>