@model Persona

@section cosas{
    <li><a style="color:white"> Pequeño texto extra</a></li>
    <li>@Html.ActionLink("Imagen1", "Index", "Home");</li>
    <li>@Html.ActionLink("Imagen2", "Cosas", "Home");</li>
}



