<h1>Ejemplo Session</h1>
<hr/>
<h4>@ViewBag.Mensaje</h4>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a asp-action="EjemploSession" asp-controller="Home" asp-route-accion="almacenar">
            Almacenar Session
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="EjemploSession" asp-controller="Home" asp-route-accion="mostrar">
            Mostrar Session
        </a>
    </li>
</ul>

<hr/>
<h2>@ViewBag.Autor</h2>
<h2>@ViewBag.Hora</h2>
<br/>

