<h1>Home</h1>
<hr />
<a asp-action="EjemploMail" asp-controller="Home">Ejemplo mensaje</a>
<br />
<a asp-action="CifradoHash" asp-controller="Home">Prueba Cifrado Hash</a>
<br/>
<a asp-action="CifradoHashEficiente" asp-controller="Home">Prueba Cifrado  HashEficiente</a>
<br/>
<a asp-action="EjemploSession" asp-controller="Home">Ejemplo simple de Session</a>
<br/>
<a asp-action="EjemploSessionList" asp-controller="Home">Ejemplo simple de Session List</a>
