
@{
    ViewData["Title"] = "AccesoDenegado";
}
<div style="text-align: center;">
    <img src="~/assets/images/error.png" style="margin-bottom:30px" />
    <h1>Acceso Denegado</h1>
    <hr />

</div>


