<h1>Aplicación AWS S3</h1>
<hr/>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-action ="ListFiles"
           asp-controller="AWSFiles">
        Files AQS Bucket</a>
    </li>
    <li class="list-group-item">
        <a asp-action ="UploadFiles"
           asp-controller="AWSFiles">
        Subir fichero</a>
    </li>
</ul>
