
@{
    ViewData["Title"] = "SendEmailAWSSES";
}

<h1>Enviar mensajes SES AWS por usuario IAM</h1>
<hr />
<h4>@ViewBag.Enviado</h4>
<hr />
<form method="post">
    <input placeholder="Enviar a"class="form-control" type="text" name="receiver" /><br />
    <input placeholder="Asunto" class="form-control" type="text" name="subject" /><br />
    <textarea  placeholder="Mensaje"class="form-control" name="data"></textarea><br />
    <button class="btn btn-success" type="submit">Enviar</button>
</form>

