<hr/>
<a style="color:red">@ViewBag.Error</a>
<form method="post">
    <label>Nombre del genero:</label><br/>
    <input type="text" name="genero"/><br/>
    <button type="submit" class="btn btn-dark">Agregar Genero</button>
</form>