<ul class="list-group">
    <li class="list-item">
        <a class="dropdown-item"
           asp-controller="Departamentos"
           asp-action="PaginarVistaDeptRegistro">
        Paginado Vista SQL Detalles
        </a>
    </li>
    <li class="list-item">
        <a class="dropdown-item"
           asp-controller="Departamentos"
           asp-action="PaginarVistaDeptGrupo">
        Paginado Vista SQL Grupos
        </a>
    </li>
    <li class="list-item">
        <a class="dropdown-item"
           asp-controller="Departamentos"
           asp-action="PaginarGrupoDeptSP">
        Paginado Procedure SQL Grupos
        </a>
     <li class="list-item">
        <a class="dropdown-item"
           asp-controller="Departamentos"
           asp-action="TrabajadoresPaged">
        Trabajadores
        </a>
    </li>
    <li class="list-item">
        <a class="dropdown-item"
           asp-controller="Departamentos"
           asp-action="TrabajadoresPagedSalario">
        Trabajadores por salario
        </a>
    </li>
</ul>