
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewBag.Mensaje</h1>
<h1>Login</h1>
<hr/>
<form method="post">
    <input  class="form-control" type="text" name="user" placeholder="Usuario"/><br/>
    <input class="form-control" type="text" name="pass" placeholder="Contraseña"/><br/>
    <button type="submit" class="btn btn-danger">Acceder</button><br/>
</form>
