CREATE TABLE Generos(
	IdGenero int NOT NULL,
	Genero nvarchar(50) NULL)
GO
ALTER TABLE GENEROS
ADD CONSTRAINT PK_Generos
PRIMARY KEY (IdGenero)
GO
CREATE TABLE Peliculas(
	IdPelicula int NOT NULL,
	IdDistribuidor int NULL,
	IdGenero int NULL,
	Titulo nvarchar(255) NULL,
	IdNacionalidad int NULL,
	Argumento nvarchar(max) NULL,
	Foto nvarchar(50) NULL,
	Fecha_Estreno datetime NULL,
	Actores nvarchar(max) NULL,
	Director nvarchar(50) NULL,
	Duracion int NULL,
	Precio int NULL,
	YouTube nvarchar(255) NULL,
	EnlaceVideo nvarchar(255) NULL)
GO
ALTER TABLE Peliculas
ADD CONSTRAINT PK_Peliculas
PRIMARY KEY (IdPelicula)
GO
INSERT Generos (IdGenero, Genero) VALUES (1, N'Accion')
INSERT Generos (IdGenero, Genero) VALUES (2, N'Humor')
INSERT Generos (IdGenero, Genero) VALUES (3, N'Terror')
