<h1>Donativos a Unidos POdemos</h1>
<hr/>
<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Cantidad:</label>
    <input type="number" name="cantidad" class="form-control"/><br/>
    <button type="submit" class="btn btn-danger">Donar</button>
</form>
<hr/>
<h1 style="color:red">@ViewBag.Mensaje</h1>