<form method="post" class="form-group">
    <input type="text" class="form-control" name="username"placeholder="Usuario"/>
    <input type="password" class="form-control" name="password" placeholder="Pass"/>
    <button type="submit" class="btn btn-info">Log In</button>
</form>