



.btn-verde {
    background: #1abc9c;
    border: 0
}

    .btn-verde .icon {
        width: 24px;
        height: 24px;
    }

.tabla-caja {
    margin: 70px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

#tabla {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    #tabla td, #tabla th {
        padding: 8px;
    }

    #tabla td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    #tabla thead th {
        color: #ffffff;
        background: #4FC3A1;
    }

    #tabla tbody tr:hover {
        background-color: aquamarine;
    }


    #tabla thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
    }

    #tabla tr:nth-child(even) {
        background: #F8F8F8;

    }
