<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="DoctoresCliente">Doctores Ajax (Consumo desde Cliente)</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="DoctoresServidor">Doctores Service (Consumo desde Servidor)</a>
    </li>
</ul>