
@if (Context.User.Identity.IsAuthenticated && Context.Session.GetString("TOKEN")!=null)
{
    <li class="nav-item alert-link">
        <a class="nav-link"
           asp-controller="Empleados"
           asp-action="PerfilEmpelado">Perfil <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Empleados"
           asp-action="Subordinados">Subordinados <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Identity"
           asp-action="LogOut">Log Out <span class="sr-only">(current)</span></a>
    </li>
}
else
{
    <li class="nav-item alert-link">
        <a class="nav-link"
           asp-controller="Empleados"
           asp-action="PerfilEmpelado">Login <span class="sr-only">(current)</span></a>
    </li>
}