<h1>Hora sistema Caching</h1>
<hr/>
<a asp-action="HoraSistema" asp-controller="Caching">Actualizar</a><br/>
<a asp-action="HoraSistema" asp-controller="Caching" asp-route-tiempo="10">Actualizar 10 seg</a><br/>
<a asp-action="HoraSistema" asp-controller="Caching" asp-route-tiempo="30">Actualizar 30 seg</a>
<br/>

<h1>@ViewBag.Fecha</h1>
<hr/>
<h4>@ViewBag.Mensaje</h4>