<h1>Hora sistema Caching</h1>
<hr/>
<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="1">Actualizar Enviando dato 1</a><br/>
<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="2">Actualizar Enviando dato 2</a><br/>

<br/>

<a>@ViewBag.Dato</a>
<h1>@ViewBag.Fecha</h1>
<hr/>
<h4>@ViewBag.Mensaje</h4>