<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/45314680-ecc2-4a6d-b297-44ef2f83da4f/resourceGroups/prueba_containerregister/providers/Microsoft.ContainerRegistry/registries/containertajamarrc</ResourceId>
    <ResourceName>containertajamarrc</ResourceName>
    <ResourceGroup>prueba_containerregister</ResourceGroup>
    <Subscription>Azure para estudiantes</Subscription>
    <RegistryUrl>https://containertajamarrc.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15d902b0-33e5-43b7-b581-403cf23ceb7c</ProjectGuid>
  </PropertyGroup>
</Project>