USE [master]
GO
/****** Object:  Database [PARTES]    Script Date: 16/02/2021 12:35:53 ******/
CREATE DATABASE [PARTES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PARTES', FILENAME = N'E:\MCSD\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\PARTES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PARTES_log', FILENAME = N'E:\MCSD\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\PARTES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PARTES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PARTES]
GO
/****** Object:  Table [dbo].[partes]    Script Date: 16/02/2021 12:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partes](
	[N_Parte] [varchar](40) NOT NULL,
	[Envios] [varchar](255) NOT NULL,
	[Bult] [int] NOT NULL,
	[F_Albaran] [date] NOT NULL,
	[Orig] [varchar](255) NOT NULL,
	[Dest] [varchar](255) NOT NULL,
	[Propi] [varchar](255) NOT NULL,
	[Serv] [varchar](45) NOT NULL,
	[Abonado] [varchar](255) NOT NULL,
	[Tipo] [varchar](255) NOT NULL,
	[Estado] [varchar](255) NOT NULL,
	[Gestor] [varchar](255) NOT NULL,
	[Resolucion] [varchar](255) NOT NULL,
	[Fecha_parte] [date] NOT NULL,
	[Tiempo] [varchar](255) NULL,
	[Accion] [varchar](500) NOT NULL,
	[F_Resolucion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[N_Parte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/02/2021 12:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Apellido] [nvarchar](255) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](500) NOT NULL,
	[ROL] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
