<h1>Usurios</h1>
<hr/>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Registrar" asp-controller="Usuarios">Registrar</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Credenciales" asp-controller="Usuarios">inicar Sesion</a>
    </li>
</ul>