@model List<Departamento>

<h1 style="margin-top:25px">Departamentos (Inyeccion context simple SQLServer)</h1>
<hr/>
@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Departamento d in Model)
            {
                <tr>
                    <td>@d.Num</td>
                    <td>@d.Nombre</td>
                    <td>@d.Loc</td>
                </tr>
            }
        </tbody>
    </table>
}
