@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section scripts{ 
    <script>
        $(document).ready(function () {
            $("#botoncoches").click(function () {
                $("#capacoches").load("/Coches/GetCochesPartial")
            });
            $("#botoncocheID").click(function () {
                var id = $("#cajaid").val();
                $("#capacochedetalle").load("/Coches/DetallesCochePartial/"+id)
            });
        });
    </script>
}
<h1>Coches Asincronos</h1>
<button type="button" id="botoncoches">
    Mostrar coches
</button>
<br/>
<br/>
<input type="number" id="cajaid" class="form-control"/>
<br/>
<button type="button" id="botoncocheID">
    Mostrar detalles
</button>
<hr/>
<div id="capacoches" style="background-color:yellow"></div>
<div id="capacochedetalle" style="background-color:#03a2ff;padding:15px"></div>