@model IEnumerable<MvcCoreNuevo.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link"
       asp-controller="Coches"
       asp-action="CochesAsincronos">Coches Asincronos</a>
</p>
