<h1>Sumar Numeros</h1>

<form method="post">
    <input type="number" name="n1" placeholder="Numero 1" />
    +
    <input type="number" name="n2" placeholder="Numero 2" />
    <button type="submit" class="btn btn-dark">=</button>
    <input type="number" disabled="disabled" value="@ViewBag.Resultado"/>
</form>