
<form method="post" class="form-group">
    <input type="text" class="form-control" name="apellido" placeholder="Apellido" />
    <input type="password" class="form-control" name="idempleado" placeholder="ID Empleado" />
    <button type="submit" class="btn btn-info">Log In</button>
</form>
<hr/>
<h4>@ViewBag.Error</h4>