@model List<ServiceClientesNameSpace.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <img src ="@Html.DisplayFor(modelItem => item.ImagenCliente)" style="width:250px;height:250px"/>
                </td>
                <td>
                    |  @Html.ActionLink("Detalles", "DetallesCliente", new { id = item.IdCliente }) |

                </td>
            </tr>
        }
    </tbody>
</table>
