#cajadecomics{
    display: inline-block;
}
.titulo{
    font-size: 60px;
    background-color: blueviolet;
    color:white;
}
.container-comics{
    margin:15px;
}
.h1Comic{
    background-color: black;
    color: white;
}
#imagen{
    width:200px;
    height:300px;
    float: left;
}
#fav{
    width:200px;
    height:300px;
}